<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cinemaFreak">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CinemaFreak"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Recommendation">


        <activity
            android:name="activity.ForgotPassword"
            android:exported="true" />
        <activity
            android:name="activity.Register"
            android:exported="true" />
        <activity
            android:name="activity.Login"
            android:exported="true" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <service
            android:name="service.MovieDetailsService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="activity.MovieDescription"
            android:exported="false" />

        <activity
            android:name="activity.MovieRecommendation"
            android:exported="true">
        </activity>


        <activity
            android:name="activity.MovieSelection"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
    </application>

</manifest>