<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cinemaFreak">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:name="main.CinemaFreakApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="CinemaFreak"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Recommendation">
        <activity
            android:name="activity.SplashScreen"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="activity.ForgotPassword"
            android:exported="true" />
        <activity
            android:name="activity.Register"
            android:exported="true" />
        <activity
            android:name="activity.Login"
            android:exported="true">

        </activity>

        <service
            android:name="service.MovieDetailsService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="service.PushNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"></action>
            </intent-filter>
        </service>

        <activity
            android:name="activity.MovieDescription"
            android:exported="false" />
        <activity
            android:name="activity.MovieRecommendation"
            android:exported="true"
            android:theme="@style/AppTheme.Recommendation.NoActionBar"></activity>
        <activity
            android:name="activity.MovieSelection"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>